# Ignore dependencies
node_modules/

# Ignore build output
dist/

# Ignore environment files
.env.local
.env.*.local
.env.development
.env.production

# Ignore IDE-specific files
*.iml
.vscode/
.idea/